<?xml version="1.0"?>
<configuration>
  <appSettings />
  <connectionStrings />
  <system.web>
    <compilation debug="true" />
    <authentication mode="Windows" />
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v9.2, Version=9.2.0.0, Culture=neutral, PublicKeyToken=79868b8147b5eae4" name="ASPxHttpHandlerModule" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v9.2, Version=9.2.0.0, Culture=neutral, PublicKeyToken=79868b8147b5eae4" name="ASPxHttpHandlerModule" />
    </modules>
  </system.webServer>
</configuration>